*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100px;
    background-color: red;
    position: relative;

}

.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
}