*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100px;
    background-color: rebeccapurple;
}

.nav2{
    display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.nav-part3{
    display: fl;
}