html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.parent{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;    
}

.child1{
    width: 300px;
    height: 200px;
    background-color: crimson;
}

.child2{
    width: 300px;
    height: 200px;
    background-color: crimson;
}

@media (max-width:900px) {
    .child1{
        background-color: orange;
    }
    
}

@media (max-width:900px) {
    .child2{
        background-color: rgb(0, 234, 255);
        border-radius: 150px;
    }
    
}
@media (max-width:850px) {
    .child1{
        background-color: rgb(255, 247, 0);
    }
    
}

@media (max-width:850px) {
    .child2{
        background-color: rgb(0, 255, 34);
    }
    
}
@media (max-width:700px) {
    .child1{
        background-color: rgb(15, 126, 211);
    }
    
}

@media (max-width:700px) {
    .child2{
        background-color: rgb(42, 61, 44);
        border-radius: 150px;
    }
    
}
@media (max-width:650px) {
    .child1{
        background-color: rgb(231, 230, 215);
    }
    
}

@media (max-width:600px) {
    .child2{
        background-color: rgb(255, 13, 0);
        border-radius: 150px;
    }
    
}
@media (max-width:580px) {
    .child1{
        background-color: rgb(43, 255, 0);
    }
    
}

@media (max-width:580px) {
    .child2{
        background-color: rgb(56, 27, 20);
        border-radius: 150px;
    }
    
}
@media (max-width:570px) {
    .child1{
        background-color: rgb(195, 255, 0);
    }
    
}

@media (max-width:570px) {
    .child2{
        background-color: rgb(96, 34, 18);
    }
    
}
@media (max-width:550px) {
    .child1{
        background-color: rgb(123, 255, 0);
    }
    
}

@media (max-width:550px) {
    .child2{
        background-color: rgb(255, 51, 0);
    }
    
}
